.container {
    display: grid;
    /* Positional "Fixed", 0,0,0 required to lock navbar to top of page */
   
 
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 0.3fr auto auto auto auto auto auto  auto;
    grid-auto-columns: 1fr;
    gap: 0em 0px;
    grid-auto-flow: row;
    grid-template-areas:


        "Header Header Header Header Header Header"
        "Focus-on-Business-Text Focus-on-Business-Text Focus-on-Business-Text Focus-on-Business-Text Focus-on-business-Grid Focus-on-business-Grid"
        "Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap Start-to-Explore-Double-Tap"
        "Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease Accept-Payment-With-Ease"
        "Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title Solutions-To-Fit-your-business-needs-title"
        "Top-Left Top-Left Top-Left Top-Right Top-Right Top-Right"
        "Bottom-Left Bottom-Left Bottom-Left Bottom-Right- Bottom-Right- Bottom-Right-"
        "Footer Footer Footer Footer Footer Footer";
    width: 100%;
}


.Header {
    grid-area: Header;
    padding-bottom: 4vh;
    position: relative;
    top: -3vh;
}

.Focus-on-Business-Text {
    grid-area: Focus-on-Business-Text;
    padding-left: 5vh;
    padding-bottom: 10vh;
    width: auto;
    height: 45vh;
    padding-right: 4rem;
    font-family: 'Roboto', sans-serif;

}
#sign-inline{
    color: black;
}
#sign-inline:hover{
    color: #0314fe;
}

.Focus-on-business-Grid {
    grid-area: Focus-on-business-Grid;
    padding-right: 5vh;
    padding-bottom: 10vh;
    width: 18vw;
    height: 22vw;
    min-width: 340px;
    min-height: 370px;
}

.Start-to-Explore-Double-Tap {
    grid-area: Start-to-Explore-Double-Tap;
    border-top: 1px lightgray solid;
    padding-top: 5vh;
}

.Accept-Payment-With-Ease {
    grid-area: Accept-Payment-With-Ease;
}

.Solutions-To-Fit-your-business-needs-title {
    grid-area: Solutions-To-Fit-your-business-needs-title;
}




/* Header CSS */
.navbar {
    height: 8vh;
}

#nav-logo {
    max-width: 20px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 47%
}

li {
    font-size: 8pt;
    color: black;
}

#but-si {
    margin-right: 1vh;
    color: #0314fe;
    border-color: #0314FE
}
#but-si:hover{
    background-color: #0314fe;
    color: white;
}

#but-free {
    background-color: #0314fe;
    border-color: #0314fe;
}
#but-free:hover{
    background-color: white;
    color: #0314fe;
}

#navlink {
    color: black;
}

#navlink:hover {
    text-decoration: none;
    color: #0314fe;
}

/* Focus on Business text CSS */
.FOB-list-item {
    color: black;
}
.FOB-list-item:hover {
    color:#0314fe;
}

#FOB-list-1 {
    list-style-type: none;
    padding-right: 1.6rem;
}

#FOB-list-2 {
    padding-right: 1.6rem;
}

#FOB-list {
    padding-left: 0px;
    list-style: none;
}


#FOB-list-2::before,
#FOB-list-3::before {
    content: "\2022";
    color: #0314fe;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;


}








/* grid area for top right 3x3*/
.container2 {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 8px 8px rgb(245, 245, 245);
}

.tl {
    grid-area: 1 / 1 / 2 / 2;
    box-shadow: 5px 15px 20px;
    border-radius: 5vh 0px;
}

.tm {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 5vh 0px 0px 0px;
    background-color: white;
    font-size: 8pt !important;

}

.tr {
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 5vh 5vh 5vh 5vh;

}

.ml {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 5vh 5vh 5vh 5vh;

}


.grid2-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: green;
    white-space: nowrap;
    overflow: hidden;
    font-size: .7rem;
    font-family: 'Roboto', sans-serif;

}


.FOB-grid-image{
    max-width: 2vh;
}





.mm {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 0vh 5vh 0px 0px;
    background-color: white;
    font-size: .6rem !important;

}

.mr {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 0vh 0vh 5vh 0vh;

}

.bl {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 0vh 0vh 0vh 5vh;

}

.bm {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    border-radius: 5vh 5vh 5vh 5vh;

}

.br {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 0vh 0vh 5vh 0vh;

}

#grid2 {
    height: 100%;


}


.grid2-bl {
    background-color: #0314fe;
    color: white;
    border: 5vh;
}

.grid2-wh {
    color: rgb(146, 146, 146);
}

/* VVV Start-to-Explore-Double-Tap Grid CSS VVV  */
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Title-Block Title-Block Title-Block Title-Block"
        "Payments Retain reporting Convert";
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 8em;
   

   

}

.Title-Block {
    grid-area: Title-Block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

.smallmessage {
    font-size: .8rem;
    margin-bottom: 0;
    font-weight: bold;

}

.Payments {
    grid-area: Payments;
    background-color: #0314fe;

}

.Retain {
    grid-area: Retain;
}

.reporting {
    grid-area: reporting;
}

.Convert {
    grid-area: Convert;
}

.EDT-Bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px grey solid;
    margin-left: 3.5em;
    margin-right: 3.5em;
    border-radius: .5em;
    font-size: .9em;
    max-height: 10em;

}
#money{
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    color: black !important;

    position: relative;
 
   
}
#Payments{
color: white;

}
#money-background{
    max-width: 40%;
    position: relative;
    top:3em;
    
}
#payment-text{
    position: relative;
    margin-bottom: 2.5em;
}


/* Card CSS */
.container5 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img-section txt-section txt-section";
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;

    border-radius: 2vh;
  }
  
  .txt-section { 
      grid-area: txt-section;
      padding: 2vh;
      border-left: rgb(192, 192, 192) 1px solid;
      background-color: #0314fe;
      color: white;
      border-top-right-radius: 2vh;
      border-bottom-right-radius: 2vh;
      padding-right: 12vh;
      font-family: 'Roboto', sans-serif;
      padding-top: 6vh;
 }
  
  .img-section { 
      grid-area: img-section;
      padding-right:1vh ;
      border-left: 1px rgb(192, 192, 192) solid;
      border-top: 1px rgb(192, 192, 192) solid;
      border-bottom: 1px rgb(192, 192, 192) solid;
      border-top-left-radius: 2vh;
      border-bottom-left-radius: 2vh;
}
#start-list{
    padding-left: 0;
    list-style: inside;
    list-style-type:"- ";
    font-family: 'Roboto', sans-serif;
}  

.list2-item{
  color: white;
  padding-top: 1vh;
  
  }
#image{
    width: 100%;
    padding-left: 1vh;
    padding-top:11vh;
}
#start-button{
    border: 2px white solid;
    border-radius: .5vh;
    background-color: #0314fe;
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 4vh;

}
#chevron{
    position: relative;
    right: -3vh;
}
   

/* Solutions to fit your Business Needs Section */


  .solutions-header { grid-area: solutions-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
    margin-bottom: 4vh;
}
.Top-Left {
    grid-area: Top-Left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Bottom-Left {
    grid-area: Bottom-Left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    
}

.Top-Right {
    grid-area: Top-Right;  
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.Bottom-Right- {
    grid-area: Bottom-Right-;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
.solution_img{
    max-width: 12vh;
}
.sol-text-line{
    margin-bottom: 0;
    font-size:9pt;
}
.solution-button{
    margin-top: 2vh;
    color: black;
    background-color: white;
    border-color: black;
    width: 30%;

}

/* Bottom Banner */

.Footer {
    margin-top: 8vh;
    grid-area: Footer;
    text-align: center;
    background-color: #0314fe;
    width: 100%;
    color: white;

}
#footer-btn1{
    color: white;
    background-color: lawngreen;
}
#footer-btn2{
    background-color: white;
    color: #0314fe;
    margin-left: 5vh;
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1.5vh;
}
.footer-list-item{
    color: white;
    

}

.Footer>H2{
    padding-top: 2vh;
}
#footer-list-item1{
    list-style-type: none;
}